
*{
    margin: 0px;
    padding: 0px;
}

body{
    overflow: hidden;
}

/* Dette er styles for bobler */
#bubbleDiv {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(73, 213, 255), rgb(19, 57, 92));
    display: flex;
    flex-direction: column;
}

#bubbleDiv > .bubble {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 1vh;
    left: 1%;
}

#graphDiv {
    height: 100vh;
    width: 100%;
}
/* slutt på bobler */


/* */
a {
    color: white;
}

.mainDiv {
    display: flex;
    flex-direction: row;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(96, 158, 158), rgba(47, 79, 79));
    height: 100vh;
    width: 250px;
    z-index: 100;
    transition: width 0.8s;
}

.rom1 {
    display: flex;
    flex-direction: row;
    background-color: lightgreen;
    display: none;
    height: 100%;
    width: 1100px;
    margin-top: 7vh;
    margin-left: 70px;
    margin-bottom: 7vh;
    z-index: 100;
}

.rom2 {
    display: flex;
    flex-direction: row;
    background-color: lightgreen;
    display: none;
    height: 100%;
    width: 1100px;
    margin-top: 7vh;
    margin-left: 70px;
    margin-bottom: 7vh;
    z-index: 100;
}

.rom3 {
    display: flex;
    flex-direction: row;
    background-color: lightgreen;
    display: none;
    height: 100%;
    width: 1100px;
    margin-top: 7vh;
    margin-left: 70px;
    margin-bottom: 7vh;
    z-index: 100;
}


/* sidebar button */
#menuButton{
    height: 50px;
}

#menuButton > div{
    margin: 8px;
    width: 200px;
    transition: width 0.8s;
    height: 4px;
    background-color: black;
}
/*  */


/* turbin tab */
#turbin_tab{
    position: absolute;
    z-index: 100;
    right: 0px;
    top: calc(50vh - 50px/2);
    height: 60px;
    width: 30px;
}

#turbin_tab > img{
    max-width:100%;
    max-height:100%;
}

#turbinpannel{
    position: absolute;
    z-index: 100;
    top: calc((100vh - 710px) / 2);
    left: 10%;
    width: 1185px;
    height: 710px;
    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

#turbinpannel > div{
    border: 2px solid black;
    width: 233px;
    height: 233px
}

/*  */