
*{
    margin: 0px;
    padding: 0px;
}

body{
    overflow: hidden;
}

p {
 font-size: 70px;
}

#filter_blur{
    z-index: 100;
    filter: blur(0px);
    transition: filter 0.8s;
}

/* Dette er styles for bobler */
#bubbleDiv {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(73, 213, 255), rgb(19, 57, 92));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bubbleDiv > .bubble {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 1vh;
    left: 1%;
}

#graphDiv {
    height: 100vh;
    width: 100%;
}
/* slutt på bobler */


/* */
a {
    color: white;
}

.mainDiv {
    display: flex;
    flex-direction: row;
}

/* Sidebar, tittel, knapper og content */

#menuButton{
    height: 50px;
}

#menuButton > div{
    margin: 8px;
    width: 29px;
    transition: width 0.8s;
    height: 4px;
    background-color: rgb(49, 102, 155);
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(112, 182, 182), rgb(29, 49, 49));
    height: 100vh;
    width: 50px;
    z-index: 100;
    transition: width 0.8s;
}


#sidebarContent {
    display: none;
    /* transition: opacity 0.8s; */
    /* animation: fade_in 0.8s forwards; */
}
@keyframes fade_in {
    0% {opacity: 0}
    100% {opacity: 1}
}
@keyframes fade_out {
    0% {opacity: 1}
    100% {opacity: 0}
}

.title {
    margin-left: 10%;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 20px;
}

a.button {
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: left;
    transition: all 0.2s;
    margin-bottom: 20px;

}

a.button:hover{
    color: #000000;
    background-color: #FFFFFF;
}

@media all and (max-width:30em){
    a.button1{
        display: block;
        margin: 0.4em auto;
    }
}

.waterLevelRoom {
    display: none;
    flex-direction: row;
    background-color: lightgreen;
    height: 710px;
    width: 1186px;
    /* position: absolute;
    left: calc((100% - 1100px) / 2);*/
    /* margin-top: 7vh;
    margin-left: 70px;
    margin-bottom: 7vh; */
    z-index: 100;
    margin-left: 2px;
}

.waterLevel {
    width: 593px;
    height: 710px;
}

.waterInfluxAndTurbinCount {
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    width: 593px;
    height: 710px;
}

.waterInflux {
    display: flex;
    background-color: crimson;
}

.turbinCount {
    display: flex;
    flex-direction: row;
    /* background: linear-gradient(to top left, rgb(192, 192, 192), white, white);
    width: 593px;
    height: 355px;
    justify-content: center;
    align-items: center;
    border: black; */
}

.turbinsOff {
    display: flex;
    flex-direction: column;
    width: 296px;
    height: 355px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.turbinsOn {
    display: flex;
    flex-direction: column;
    width: 297px;
    height: 355px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.income {
    display: none;
    flex-direction: row;
    background-color: lightgreen;
    height: 710px;
    width: 1186px;
    z-index: 100;
    margin-left: 2px;
}

.moneyAndEnvironmentCost {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 710px;
    width: 593px;
}

/* .money {
    display: flex;
    flex-direction: row;
    height: 236px;
    width: 593px;
    background-color: white;
}

.environmentCost {
    display: flex;
    flex-direction: row;
    height: 238px;
    width: 593px;
    background-color: lightskyblue;
}

.moneyTotal {
    display: flex;
    flex-direction: row;
    height: 236px;
    width: 593px;
    background-color: cornflowerblue;
} */

/* Slutt på sidebar, tittel, knapper og content */


/* turbin tab */
#turbin_tab{
    position: absolute;
    z-index: 100;
    left: calc(100% - 30px);
    transition: left 1s;
    top: calc(50vh - 50px/2);
    height: 60px;
    width: 30px;
    cursor: pointer;
}

#turbin_tab > img{
    max-width:100%;
    max-height:100%;
    cursor: pointer;
}

#turbinpannel{
    position: absolute;
    z-index: 100;
    top: calc((100vh - 713px) / 2);
    left: 100%;
    transition: left 1s;
    width: 1185px;
    height: 710px;
    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

#turbinpannel > div{
    overflow: hidden;
    border: 2px solid black;
    width: 233px;
    height: 233px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.1s linear;
}

#turbinpannel > div:hover{
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    
}

#turbinpannel > div:active{
    background-color: rgba(255, 255, 255, 0.5);
}

#turbinpannel > div > img{
    max-width: 90%;
    max-height: 90%;
    transform: rotate(0deg);
}

/*  */